/* Import of the font from googlefonts*/

@import url('https://fonts.googleapis.com/css?family=Arvo|Bree+Serif|Quicksand');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

/*Font Characteristics*/

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}

h2 { 
  font-family: 'Bree Serif', serif;
  font-size: 100%;
  color: black

}

h3 {
  font-family: 'Arvo', serif;
  color: black
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 100%;
}

h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
}

h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100%;
  color: white
}

h7 {
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  color: white;
}

h8 { 
  font-family: 'Kaushan Script', cursive;;
  font-size: 60%;
  color: white;
  }

h9 { 
  font-family: 'Roboto', sans-serif;
  font-size: 60%;
  color: black;

}

/* Beginning Layout design of the page*/


*{ 
  margin: 0;
}

body {
  height: 70%;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 1.5em;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 100%;
  font-size: 1.5em;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  
}

@media and (max-width:481px) {
  .leftside {
    flex: 1 0 auto;
    
  }

  .rightside { 
  flex: 1 0 auto;
  }
  
}

@media and (min-width: 320px) {
  
  .leftside {
    display: 1 1 auto;
  }
  .wrapper {
    flex-direction: row;
  }
  .rightside {
    width: 20%;
  }
}


h3 {
  margin: 1em;

}

body {
  background: linear-gradient(to right, #77C9D4 , #57BC90);
} 

body { color: aliceblue}
/* This is the layout sizes and colours*/

.header {
  
  margin-top: 20px;
  width: 100%;
  height: 200px;
  height: 100%;
}

.leftColumn {
  width: 60%;
  height: 500px;
  float: left;
  background-color: white;
  order: -1;
  margin-left: 20%;
  
  
}

.leftColumn1 {
  width: 100%;
  height: 300px;
  float: none;
  margin-left: 0%;
  background-color:white
}

.leftColumn2 {
  width: 100%;
  height: 800px;
  float: left;
  margin-left: 0%;
  background-color: white
}

.leftColumn3 {
  width: 100%;
  height: 300px;
  float: left;
  background-color: white;
  
}

.leftColumn4 {
  width: 100%;
  height: 500px;
  float: left;
  background-color: white;
}
.rightColumn {
  width: 40%;
  height: 500px;
  float: left;
  background-color: white
  
}

.rightColumn1 { 
  width: 100%;
  height: 300px;
  float: left;
  background-color: white;

}

.rightColumn2 {
  
  width: 60%;
  height: 500px;
  float: right;
  background-color: currentColor;
  margin-left: 20%;
  margin-top: 1%; 
}
.bottomrow {
  clear:left;
  margin-bottom: 0;
  width: 100%;
  height: 200px;
  background-color: b;
  padding: 1em;
  text-align: center;
  
}

/* This is the navigation bar code*/
* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
  
  
  
}

ul {
  overflow: auto;
  list-style-type: none;
  
}

li{
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li a {-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;

}

li:last-child { border-right: none;
}

ul1 {
  float: left;
  list-style-type:circle;
  float: left
}
li1 {
  float: left;
  
  
  
}
  
  
}

.header1 { 
  width: 100%;
  height: 30%;
  text-align: center;
  margin-left: 50%;
  
  
}


.card {

  background-color: white;
  width: 100%;
  height: 800px;
  
}

.container { 
  height:auto;
  min-height: 100%;
  width: 90%;
  margin: 0%;

}

video { 
  width: 100%;
  max-width: 100%;
  height: auto;
}